#pane{
    -fx-background-image: url("com/klotski/app/img/bkg1.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 400 500;
    -fx-background-position: center center;
}


.reset{
    -fx-background-color:#D2B48C;
    -fx-border-color: black;
}

#configuration JFXButton{
    -fx-border-color: black;
    -fx-background-color: #D2B48C;
}